
{% extends 'base.html' %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    
    <h1>{{ group.title }}</h1>

    {% if standing == 'positive' %}
        <h3>The group owes you ${{ amount }}</h3>
    {% elif standing == 'negative' %}
        <h3>You owe the group ${{ amount }}</h3>
        <input id="payment" type="number">
        <button id="pay" class="btn">Pay now</button>
    {% else %}
        <h3>You are up to date on all payments</h3>
    {% endif %}
    
    <table>
        <tr>
            <th>payer</th>
            <th>amount</th>
            <th>split with</th>
        </tr>
        {% for split in splits %}
            <td>{{ split.payer.username }}</td>
            <td>{{ split.amount }}</td>
            <td>{{ split.users }}</td>
        {% endfor %}
    </table>
    
    <div id="split-bill-form">
        <label>amount<label>
        <input id="amount" type="number">
        <div class="select-users">
            {% for user in users %}
                {% if user.username != request.user.username %}
                    <label class="checkbox-wrapper" data-username="{{ user.username }}">
                        <input type="checkbox" class="filled-in" />
                        <span>{{ user.username }}</span>
                    </label>
                {% endif %}
            {% endfor %}
        </div>
        <button id="split" class="btn">split</button>
    </div>

    <select id="editable-select">
    </select>

    <button id="submit-usernames" class="btn">send</button>

    <ul id="staged-users">
    </ul>    

{% block javascript %}
    <script>
        $(()=>{
            var csrftoken = Cookies.get('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            // make payment
            $payment = $('input#payment')
            $pay = $('button#pay')

            $pay.on('click', e => {
                $.ajax({
                    url: "{% url 'make_payment' group.id %}",
                    method: 'POST',
                    data: {
                        amount: $payment.val()
                    }
                }).done(response => {
                    location.href = "{% url 'group_detail' group.id %}"
                });
            });

            // split
            $amount = $('input#amount');
            $split = $('button#split');
            userSelectGroup = $('.select-users').children().toArray();

            function getSelectValue() {
                value = ['{{ request.user.username }}']
                for(let i=0; i<userSelectGroup.length; i++) {
                    $user = $(userSelectGroup[i]);
                    checked = $user.children()[0].checked
                    if(checked){
                        username = $user.attr('data-username');
                        value.push(username);
                    }
                }
                return value.join('-')
            }

            $split.on('click', e => {
                $.ajax({
                    url: "{% url 'split_bill' group.id %}",
                    method: "POST",
                    data: {
                        amount: $amount.val(),
                        usernames: getSelectValue()
                    }
                }).done(response => {
                    location.href = "{% url 'group_detail' group.id %}"
                });
            });

            // add users to group
            $('#editable-select').editableSelect().on('select.editable-select', function(e, li) {
                $stage = $('#staged-users');
                user = `<li>${li[0].textContent}</li>`

                duplicate_user = $stage.children().toArray().find(e => {
                    return e.textContent === li[0].textContent
                });

                if(!duplicate_user) {
                    $('#editable-select').val("");
                    $('#staged-users').append(user)
                }
            });

            $('#editable-select').on('change input', function () {
                search_length = $('#editable-select').val().length
                if(search_length === 0)
                    $('#editable-select').editableSelect('hide');
                else if(search_length >= 3)
                    $.ajax({
                        url: "{% url 'search_users' group.id %}",
                        data: { username: $(this).val() }
                    }).done(response => {
                        usernames = []
                        $('.es-list').children().toArray().forEach((e)=>{
                            usernames.push(e.textContent);
                        });

                        response.forEach(username => {
                            if(!usernames.includes(username))
                                $('#editable-select').editableSelect('add', username);
                        });

                        $('#editable-select').editableSelect('show');
                    });
            });

            $('#submit-usernames').on('click', e => {
                usernames = []
                $('#staged-users').children().toArray().forEach(p => {
                    usernames.push(p.textContent);
                })
                usernames = usernames.join('-');
                
                $.ajax({
                    url: "{% url 'group_detail' group.id %}",
                    method: "POST",
                    data: {
                        'username' : usernames
                    }
                }).done(response => {
                    location.href = '/groups/{{group.id}}'

                });
            });
        });
    </script>
{% endblock %}
{% endblock %}