{% extends 'base.html' %}
{% block content %}


    <h1 class="heading" style="font-size:70px;text-transform:capitalize;" >Hello {{ user.first_name }}.</h1>
    
    <!-- SIDE NAV BAR START -->

    <ul id="slide-out" class="sidenav navbar">
        <li><div class="user-view">
        <div class="background">
        </div>
        <a href="{% url 'logout' %}" class="tag">Logout</a>
        <!-- Edit Info Modal -->
        <li><a class="waves-effect waves-light modal-trigger" href="#modal5">Edit Profile</a></li>

      
        
            </ul>

    <a href="#" data-target="slide-out" class="sidenav-trigger hamburger"><i class="fas fa-bars"></i></a>

  <!-- SIDE NAV BAR END -->


          <!-- Update Profile -->
    <div id="modal5" class="modal">
            <div class="modal-content">
            <h4 class="tag">EDIT PROFILE</h4>
            <form action="{% url 'edit_user' %}" method="POST">
            {% csrf_token %}
            {{ edit_user_form.as_table }}
            <input type="submit" value="Confirm" class="button" style="font-size:15px">
            </form>
            </div>
        </div>




    {% if groups.count == 0 %}
        <p class="tag"style="font-size:30px;">You have no groups yet.
        <br> Let's start by creating group.</p>
    {% else %}
        <div>
        {% for group in groups %}
            <div class="group-info">
                <a href="{% url 'group_detail' group.id %}" class="group-name">
                    <span id="group-name">{{ group.title }}</span>
                </a>
            </div>
        {% endfor %}
        </div>
    {% endif %}
        <br>
        <br>
        <br>
    <br>
    <br>
    <br>
    <br>
        <button data-target="modal1" class=" modal-trigger button waves-effect waves-light" id="about-btn">Create Group</button>
            <div id="modal1" class="modal">
                <div class="modal-content about">
                    <div id="create-group-form">
                        <form action="{% url 'group_create' %}" method="post" autocomplete="off">
                            {% csrf_token %}
                            <label >Group Name</label>
                            {{ group_create_form.title }}
                        
                            <input type="submit" class="button create-group-btn" id= "grp-create-btn" value="Create">
                        </form>
                    </div>
                </div>
            </div>

            <br>
            <br>

{% endblock %}