{% extends 'base.html' %}
{% block content%}
   
<div id="main-page">

    <h2 class="heading">Bill <span id="dollar">$</span>plit</h2>
    <h3 class="tag">SHARING BILL MADE EASY</h3>
    <img src="https://i.imgur.com/vEnuuVC.png" alt="image" class="responsive-img image">

    <a href="{% url 'signup' %}"><button class="button waves-effect waves-light" id="signup">Sign up</button></a>
    <a href="{% url 'login' %}"> <button class="button waves-effect waves-light" id="login">Login</button></a>

    <button data-target="modal1" class=" modal-trigger button waves-effect waves-light" id="about-btn">About</button>
</div>

  <!-- ABOUT FORM -->
    <div id="modal1" class="modal">
      <div class="modal-content about">
        <!-- <h3>About</h3> -->
        <h3>Split expenses 💸 with friends.</h3>
          <div class="row">
            <h3 class="flow-text">Step 1</h3>
              <div class="col s12 m4">
                <div class="card z-depth-4">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="https://cdn.dribbble.com/users/1757275/screenshots/6218550/0301e072678345.5bef34a7439aa.png">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Create a Group<i class="material-icons right">more_vert</i></span>
                     
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Easy, simple and fast<i class="material-icons right">close</i></span>
                      <p>Bill Split takes the trouble out of sharing expenses – with friends, with roommates, with anyone.
                        .</p>
                  </div>
              </div>
          </div>
            <h3 class="flow-text">Step 2</h3>
              <div class="col m4">
                  <div class="card z-depth-3">
                      <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="https://assets.materialup.com/uploads/fd33b326-b235-42e4-9473-6ac5097ba3a8/preview.png">
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">Split the bill<i class="material-icons right">more_vert</i></span>
                         
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">We do the math for you<i class="material-icons right">close</i></span>
                          <p>
                            Bill Split  keeps a running total over time, so you can pay each other back in one big payment, instead of a bunch of small ones.</p>
                      </div>
                  </div>
              </div>
          <h3 class="flow-text" >Step 3</h3>
            <div class="col m4">
                <div class="card z-depth-2">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="https://media.istockphoto.com/vectors/payment-page-and-credit-card-on-smartphone-screen-hand-holds-the-and-vector-id825538146?k=6&m=825538146&s=612x612&w=0&h=N4N_Y9pGLJTo72eGwgq5qyL6W0QMZ6lgsZVmbiRJbpk=">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Make a payment<i class="material-icons right">more_vert</i></span>
                     
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Bill Split<i class="material-icons right">close</i></span>
                      <p>Make a payment with Safety and Secure </p>
                  </div>
              </div>
          </div>
      </div>
        <!-- Add HTML from addexpense.html here -->

        <!-- THEN add CSS to this project's CSS file -->

      </div>
    </div>






{% endblock %}