{% extends 'base.html' %}
{% block content%}
   
<div id="main-page">

    <h2 class="heading">Bill <span id="dollar">$</span>plit</h2>
    <h3 class="tag">SHARING BILL MADE EASY</h3>
    <img src="https://i.imgur.com/vEnuuVC.png" alt="image" class="responsive-img image">

    <a href="{% url 'signup' %}"><button class="button waves-effect waves-light" id="signup">Sign up</button></a>
    <a href="{% url 'login' %}"> <button class="button waves-effect waves-light" id="login">Login</button></a>

    <button data-target="modal1" class=" modal-trigger button waves-effect waves-light" id="about-btn">About</button>
</div>

  <!-- ABOUT FORM -->
  
    <div id="modal1" class="modal">
      <div class="modal-content about">
        <h3>About</h3>
        <p>EXPALINS ABOUT BILL SPLIT</p>
      </div>
    </div>






{% endblock %}