*{
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    max-height: 100vh;
    flex-direction: column;
    background-color: rgb(209, 232, 231);
  }

#main-page{
    background-image: url(https://i.imgur.com/l6YqpCN.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}
.heading{
    font-family: 'Germania One', cursive;
    margin: 0px;
    color: rgb(24, 19, 95);
    font-size: 11vh;
    margin-left: 20px;
    padding-top: 15px;
    
}
#dollar{
    font-size: 13vh;
}
.tag{
    font-family: 'Germania One', cursive;
    color: rgb(17, 104, 78);
    margin-top: 0px;
    margin-left: 20px;
    font-size: 2vw;

}
img{
    transform: rotate(35deg);
}
.image{
    position: fixed;
    bottom: 0px;
    left: 40vw;
    width: 70vw;
}
  
footer.page-footer {
    padding-top: 0;

    text-align: center;
    font-size: 30px;

}
.footer{
    background-color: rgb(24, 19, 95);
    height: 30px;
    /* font-size: 30px; */
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 4.5%;
    padding: 20px;
    
}

.button{
    background-color: rgb(24, 19, 95);
    color: white;
    font-size: 2.5em;
    width: max-content;
    padding: 10px;
    border: 2px solid rgb(24, 19, 95);
    border-radius: 6px;
    transition: all 0.3s ease 0s;
}
.button:hover{
    background-color: rgb(136, 201, 201);
    color: black;
    cursor: pointer;
}
#signup, #login{
    position: sticky;
    top:40vw;
    margin-left: 20px;
}
.pop-up{
    background-color: rgb(236, 245, 245);
}
.hamburger{
    float:right;
    margin-top: -4%;
    position: fixed;
    margin-right: 15px;
    right: 20px;
    font-size: 40px;
    color: rgb(24, 19, 95);
}
.hamburger:hover{
    color: black;
}
#about-btn{
    float:right;
    margin-top: -17vh;
    margin-right: 20px;
    position: sticky;
    left: 95vw;
}

.input-form{
    width: 40vw;
    padding: 15px;
}
.input-form>label{
    color: rgb(17, 104, 78);
    font-size: 20px;
    font-weight: bold;
    font-size: 20px;
}
.wrap-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

   
}
.wrap-form>form{
    margin-top: 3vh;
    padding: 20px;
    border: 5px solid black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}
.wrap-form>form>input{
    margin: 20px 0 0 10px;;
}
.errorlist>li, .error{
    color: red;
}
.error{
    color: red;
    margin-left: 15px;
}

/* #create-group-form{
    display: none;
} */
.display{
    display: inline;
}

#create-group-btn{
    margin-left: 30px;
}

.group-info {
    display: inline-block;
}

#group-name {
    font-size: 20px;
    font-family: 'Germania One', cursive;
    color :rgb(24, 19, 95);
    text-transform: uppercase;
    font-size: 35px;
}

.group-name {
    height: 270px;
    width: 270px;
    border-radius: 50%;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 20px 0px 20px;
    border: 5px solid rgb(24, 19, 95);
    background-color: rgb(236, 245, 245);
    box-shadow: 10px 10px 10px;
}

#create-group-form>form>label{
    font-family: 'Germania One', cursive;
    color: rgb(24, 19, 95);
    font-size: 40px;
}
.create-group-btn{
    font-size: 20px;
}
.navbar{
    background-color: rgb(236, 245, 245);
}

#staged-users>li{
    font-size: 30px;
    color: rgb(17, 104, 78);
    text-transform: capitalize;
}
#payment, #pay{
    margin-left: 25px;
    width: 30%;
}
#paid-user{
    text-transform: uppercase;
}
#group-summary{
    margin-left: 25px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 34px;
    color: rgb(24, 19, 95);
    font-family: 'Germania One', cursive;
}
.table-head{
    color: rgb(17, 104, 78);
    font-weight: bold;
    font-size: 25px;
    font-family: 'Germania One', cursive;
    padding-left:15px;
}
.table-item{
    font-weight: bold;
    font-size: 20px;

}
#main-head{
    width: 70%;
    margin: 10px 15px;
    border: 2px solid gray;
    box-shadow: 6px 6px 10px 5px;
    padding: 10px 20px;
    background-color: rgb(236, 245, 245);
}
.table-head>th, .table-item>td{
    padding: 10px 30px ;   
}
.expense-tag{
    font-family: 'Germania One', cursive;
    color: rgb(17, 104, 78);
    font-size: 20px;
}
.sharing-user{
    font-family: 'Germania One', cursive;
    color: rgb(24, 19, 95);
    /* font-size: 2rem; */
}
[type="checkbox"]+span:not(.lever){
    font-size: 2rem;
    text-transform: capitalize;
}
#editable-select{
    font-size: 20px;
    text-transform: capitalize;
}

/* ---------------------------- RESPONSIVE MEDIA QUERY ---------------------------- */

@media screen and (max-width: 800px) {
    .image{
        display: none;
    }

    #heading{
        font-size: 10vw;
    }
    .tag{
        font-size: 25px;
    }
    #dollar{
        font-size: 20vw;
    }
    .footer{
        font-size: 2vh;
    }
    #signup, #login{
        position: relative;
        top:60vw;
    }
    #about-btn{
        position: sticky;
        margin-top: -14vh;

    }
    .input-form{
        width: 60vw;
    }
    .hamburger{
        margin-top: -13%;
    }

    
}